* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
  }
  
  body {
    background: #7e2929;
    color: #000000;
    padding: 20px;
  }
  
  .container {
    max-width: 900px;
    margin: 0 auto;
    background: #ffcece;
    padding: 20px;
    border-radius: 12px;
    box-shadow: 0 2px 6px rgba(143, 28, 28, 0.1);
  }
  
  .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
  }
  
  .header span {
    font-size: 1.3rem;
    font-weight: bold;
  }
  
  .header button {
    background: #af4c4c;
    color: rgb(255, 255, 255);
    padding: 8px 16px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
  }
  
  .header button:hover {
    background: #cebebe;
  }
  
  table {
    width: 100%;
    background-color: #d82121;
    border-collapse: collapse;
  }
  
  th, td {
    padding: 5px;
    text-align: left;
    border-bottom: 1px solid #ffcece;
  }
  
  th {
    background: rgb(255, 232, 232);
  }
  
  td.acao {
    text-align: center;
  }
  
  td button {
    background: none;
    border: none;
    cursor: pointer;
    font-size: 1.2rem;
  }
  
  td button i {
    color: #892525;
    transition: color 0.2s;
  }
  
  td button:hover i.bx-edit {
    color: #00a2ff;
  }
  
  td button:hover i.bx-trash {
    color: #892525;
  }
  
  .modal-container {
    display: none;
    position: fixed;
    inset: 0;
    background: rgba(0, 0, 0, 0.6);
    justify-content: center;
    align-items: center;
  }
  
  .modal-container.active {
    display: flex;
  }
  
  .modal {
    background: #ffcece;
    padding: 20px;
    border-radius: 12px;
    width: 400px;
    max-width: 95%;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
  }
  
  .modal h2 {
    margin-bottom: 10px;
  }
  
  .modal form div {
    margin-bottom: 15px;
  }
  
  .modal label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
  }
  
  .modal input {
    width: 100%;
    padding: 8px;
    border-radius: 6px;
    border: 1px solid #ccc;
  }
  
  .modal button {
    display: block;
    width: 100%;
    padding: 10px;
    background: #892525;
    color: white;
    border: none;
    border-radius: 8px;
    font-size: 1rem;
    cursor: pointer;
  }
  
  .modal button:hover {
    background: #921111;
  }
  